/* Delete All Borders after finished with project. We're only using them so we can see
Must Save this file and Base HTML file to propogate the Previewer. 
*/
*{
    border: 1px solid red;
}

header {
    font-family: 'Times New Roman';
    font-size: 50px;
    text-align: center;
}

h1 p {
    color:black;

}
footer {
    position: fixed;
    top: 20px;
}