* {
    border: 1px solid red;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
}
a {
    display: flex;
    align-items: right;
}
header {
    text-align: left;
}

h1 {
    font-size: 50px;
}

h2 {
    height: 700px;
    text-align: center;
    margin: auto;
}
#id {
    background-color: black;
}
.mission {
    background-image: url(./img-mission-background.jpg);
}