* {
    font-family: Helvetica;
    color: seashell;
    background-color: black;
}
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}
#title {
    margin-left: 10px;
    font-size: 50px;
    font-family: 'Cedarville cursive';
}
.link {/* this needs fixed*/
    text-decoration: underline;
}

#omission {
    
    vertical-align: center;
    align-items: center;
}
.cmission {
    background-image: url(./img-mission-background.jpg);
    height: 700px;
    width: 1200px;
}
#totm{
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
}
img {
    display: inline-flex;
    width: 300px;
    height: 200px;
}
.location.square {
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 40px;
    width: 300px;
    height: 500px;
    padding: 10px;
}

#closing {
    display: flex;
    align-content:space-around;
}

#locations {
    background-image: url(./img-locations-background.jpg);
    line-height: 1.5;
    display: inline-flex;
    align-content: center;
}
footer {
    display: flex;
    margin-left: 20px;
}/*Footer Good*/