h1,
h2,
h3,
p {
    font-family: Helvetica;
}
h1{
    font-size: 100px;
    color: khaki;
    text-align: center;
    background-image:url(./pattern.jpeg);
}
span {
    color: blue;
    font-weight:700;
}
h2.brushes{ 
    color: white;
    background-color: mediumspringgreen;
}
h2.frames{
    color: white;
    background-color: lightcoral;
}
h2.paint{ 
    color: white;
    background-color: skyblue; 
}


